body {
    background-color: rgb(12, 6, 29);
}

.top {
    background-color: #2b1717;
    padding-left: 10px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 15px;
    /* border: 10px solid goldenrod; */ 
    border-radius: 20px;
}

.stats {
    display: inline-flex;
    color: rgba(255, 255, 255, 0.863);
    font-family: "Inter", sans-serif;
    align-items: first baseline;
}

.points {
    padding-left: 5px;
    padding-right: 20px;
}

.action {
    padding: 20px;
    padding-left: 10px;
    display: flex;
    gap: 50px;
    background-color: #6d1e24;
}

.button {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: medium;
    align-items: center;
    padding: 10px;
    color: bisque;
    background-color: #151515;
    border-radius: 10px;
}

#lore {
    display: none; /* Initially hide the element */
    overflow: hidden; /* Ensure the content does not overflow */
}

.story {
    background-color: #77282f;
    display: flex;
    padding-left: 20px;
    color: rgb(238, 189, 189);
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    letter-spacing: 2px;
}